
.main-contents{
  position: relative;
  display: block;

  .m-container{
    background-color: white;
    position: absolute;
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
    margin-top: 120px;
    // overflow: auto;
   
    ul{
      font-size: 30px;
      text-align: center;
      margin: 0 auto;
      color:white;
      background: linear-gradient(#829ebc,#225588);
      border-left: 1px solid #3c6690;
      border-top: 1px solid #3c6690;
      border-bottom: 1px solid #3c6690;
      box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
      width: 25%;
      padding: 30px 30px;
    }
    .user_name {
      font-size: 20px;
      text-align: center;
      border-left: 1px solid #a8b7c5;
      border-bottom: 1px solid #a8b7c5;
      border-top:none;
      box-shadow: 0px -3px 5px 1px #eee inset;
      width: 55%;
      padding: 20px 20px;
    }
  }

  hr{
    margin-top: 20px;
    border-bottom: 1px solid grey;
    width: 100%;
 }

  .post-container{
    margin-top: 10px;

    .post-box-title{
     font-size: 25px;
     font-weight: 500;
    }

    .post-box{
      margin-left: 20px;
      margin-top: 15px;

      .p-Label{
        margin-top: 20px;
      }

      span{ 
        font-size: 16px;
        padding: 0 4px;
        margin-top: 5px;
        background-color: #57C3E9;
        color: #fff;
        border-radius: 2px;
        display: inline-block;
        font-style: normal;
        font-weight: 600;
        line-height: 1.6em;
      }
      label{
        font-size:20px;
        margin-left: 5px;
      }
      .p-text{
        margin-top: 10px;
      }

      .pic-container{
        max-width: 660px; 
        max-height: 400px;
      }

    }
  }



}