h1{
  font-size: 35px;
  
  color: gray;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

.form_box{
  margin-top: 20px;
  width: 100%;
  text-align: center;
  h2{
    margin-left: 170px;
    font-size: 20px;
    width: 100px;
    background: linear-gradient(transparent 70%, #a8eaff 70%);
  }
  .input-title{
    margin-top: 10px;
    height: 50px;
    width: 50%;
  }
  h3{
    font-size: 20px;
    width: 150px;
    margin-top: 30px;
    margin-left: 150px;
    background: linear-gradient(transparent 70%, #a8eaff 70%);
  }
  .input-pic{
    margin-top: 10px;
    width: 50%;
  }
  h4{
    font-size: 20px;
    width: 100px;
    margin-top: 30px;
    margin-left: 170px;
    background: linear-gradient(transparent 70%, #a8eaff 70%);
  }
  .input-text{
    margin-top: 10px;
    width: 50%;
  }
  .s-btn{
    margin-top: 10px;
    height: 50px;
    width: 50%;
  }

}